[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/lua/lua"]
	path = extern/lua/lua
	url = git@github.com:lua/lua.git
[submodule "extern/sail"]
	path = extern/sail
	url = git@github.com:smoked-herring/sail.git
[submodule "extern/stb"]
	path = extern/stb
	url = git@github.com:nothings/stb.git
[submodule "extern/imgui/imgui"]
	path = extern/imgui/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "extern/gbench"]
	path = extern/gbench
	url = https://github.com/google/benchmark.git
